.simplebar-track.simplebar-vertical {
  background: none;
  border-radius: 2px;
  width: 12px;
  padding: 0 5px;
  overflow: visible;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 2px;
    height: 100%;
    background: #eaf2f0;
  }

  & > .simplebar-scrollbar {
    background: none;
    border-radius: 2px;

    &:before {
      width: 2px;
      left: 50%;
      transform: translate(-50%);
      background: #b6cbc6;
    }
  }
}
