@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Bold.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
    url('/fonts/montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-BlackItalic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'),
    url('/fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Black.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
    url('/fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-ExtraLight.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
    url('/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
    url('/fonts/montserrat/Montserrat-Italic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Italic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'),
    url('/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Light.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
    url('/fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-LightItalic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraLight Italic'),
    local('Montserrat-ExtraLightItalic'),
    url('/fonts/montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
    url('/fonts/montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-BoldItalic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
    url('/fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Thin.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
    url('/fonts/montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-ThinItalic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
    url('/fonts/montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
    url('/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-MediumItalic.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SangBleuSunrise';
  src: local('SangBleuSunrise Medium'), local('SangBleuSunrise-Medium'),
    url('/fonts/SangBleuSunrise/SangBleuSunrise-Medium.woff2') format('woff2'),
    url('/fonts/SangBleuSunrise/SangBleuSunrise-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SangBleuSunrise';
  src: local('SangBleuSunrise Regular'), local('SangBleuSunrise-Regular'),
    url('/fonts/SangBleuSunrise/SangBleuSunrise-Regular.woff2') format('woff2'),
    url('/fonts/SangBleuSunrise/SangBleuSunrise-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SangBleuSunrise';
  src: local('SangBleuSunrise LightItalic'),
    local('SangBleuSunrise-LightItalic'),
    url('/fonts/SangBleuSunrise/SangBleuSunrise-LightItalic.woff2')
      format('woff2'),
    url('/fonts/SangBleuSunrise/SangBleuSunrise-LightItalic.woff')
      format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SangBleuSunrise';
  src: local('SangBleuSunrise MediumItalic'),
    local('SangBleuSunrise-MediumItalic'),
    url('/fonts/SangBleuSunrise/SangBleuSunrise-MediumItalic.woff2')
      format('woff2'),
    url('/fonts/SangBleuSunrise/SangBleuSunrise-MediumItalic.woff')
      format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
